<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>
<form th:action="@{/manager/login}" method="post">
    <div class="container" style="padding:150px; width:50%; height:50%;">
        <div style="text-align:center; margin-bottom:100px;">
            <a class="blog-header-logo text-body-emphasis text-decoration-none" style="font-family: 'Cursive', cursive; font-size: 2rem; color: black;">Manager Page</a>
        </div>
        <h1 class="h3 mb-3 fw-normal" style="font-size: 1rem; color: black;">Please Manager sign in</h1>
        <div class="form-floating">
            <input type="adminid" class="form-control" name="username" id="adminid" placeholder="name">
            <label for="adminid">User Id</label>
        </div>
        <div class="form-floating" style="margin-top: 10px;">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger" style="margin-top: 10px;">
                사용자 ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <button class="btn btn-dark w-100 py-2" style="margin-top: 20px;" type="submit">Sign in</button>
    </div>
</form>
</body>
</html>