<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>웹 채팅</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="chat-container" style="display:flex; flex-direction:column; align-items:center; height:650px;">
    <h1 class="h_tit" style="display:flex; flex-direction:column; text-align:center; margin:5px 0 5px 0; height:8%;">
        <span class="logo_txt" style="font-family: 'Cursive', cursive; font-size: 1.8rem; color: black;">Chatbot</span>
        <span class="chat_name" style="font-size: 1rem; color: black;" th:text="${name}"></span>
    </h1>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" style="max-width:50%;" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header justify-content-around border-bottom border-secondary">
                    <form class="d-flex" th:action="@{/chatbot/create}" method="post">
                        <button class="btn btn-outline-secondary" type="submit">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="icon-sm shrink-0" height="15px" width="15px" xmlns="http://www.w3.org/2000/svg">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                            New Chat..
                        </button>
                    </form>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="padding:5px;">
                    <ul>
                        <li th:each="room : ${chatRoomList}" class="chatroomList border border-3 border-black rounded p-2 m-2" style="display:flex; align-items: center; justify-content:space-between;">
                            <svg class="icon-sm" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                            </svg>
                            <div class="chatDiv">
                                <a th:href="@{|/chatbot/${room.id}|}" style="overflow: hidden;" th:text="${room.RoomName}" id="roomLink"></a>
                            </div>
                            <div class="chatroomBtn">
                                <a th:href="@{|/chatbot/modify/${room.id}|}" class="btn btn-outline-secondary" style="--bs-btn-font-size: .7rem; padding:7px;">
                                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="icon-sm" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 20h9"></path>
                                        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" th:data-uri="@{|/chatbot/delete/${room.id}|}" class="delete btn btn-outline-secondary" style="--bs-btn-font-size: 0.7rem; padding:7px;">
                                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="icon-sm" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <polyline points="3 6 5 6 21 6"></polyline>
                                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="chat-box" style="overflow-y:scroll; width:92%; max-width:92%; height:83%; border-radius:10px; padding:10px; margin:5px;
    background:white; box-shadow:0px 0px 10px rgba(0,0,0,0.2); display:flex; flex-direction:column;">
        <div th:each="chatmessage : ${chatmessageList}" class="message" style="display:flex; flex-direction:column;">
            <div class="user-message" style="background:lightgray; box-shadow:0px 0px 10px rgba(0,0,0,0.2); align-self: flex-end;
                margin-left: auto; border-radius: 10px; padding:10px; margin-bottom:10px; width:30%;">
                <div class="toast-header">
                    <img src="/User.jpg" style="width:15px; height: 15px;" class="rounded me-2" alt="No...">
                    <strong class="me-auto" th:text="${#authentication.principal.nickname}"></strong>
                </div>
                <div class="toast-body">
                    <div th:text="${chatmessage.query}"></div>
                </div>
                <div class="toast-tail">
                    <div style="text-align:end; font-size:12px; color:gray;" th:text="${#temporals.format(chatmessage.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="bot-message" style="background: white; box-shadow:0px 0px 10px rgba(0,0,0,0.2); align-self: flex-start;
                margin-right: auto; border-radius: 10px; padding:10px; margin-bottom:20px; width:60%;">
                <div class="toast-header">
                    <img src="/chattingbot_img.png" style="width:15px; height: 15px;" class="rounded me-2" alt="No...">
                    <strong class="me-auto">챗봇</strong>
                </div>
                <div class="toast-body">
                    <div th:text="${chatmessage.answer}"></div>
                </div>
                <div class="toast-tail">
                    <div style="text-align:end; font-size:12px; color:gray;" th:text="${#temporals.format(chatmessage.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="inp_box" style="background:white; width:92%; height:9%; box-shadow:0px 0px 10px rgba(0,0,0,0.2); border-radius: 10px; padding:5px;">
        <div class="inp_txt">
            <form style="display:flex; padding:5px; border-radius: 5px;" id="chat-form" th:action="@{|/chatbot/${id}|}" method="post">
                <input class="form-control me-2" style="flex:5; margin-right:10px;" type="text" name="query" id="query" placeholder="메시지를 입력하세요">
                <button class="btn btn-outline-secondary" style="flex:1;" type="submit">전송</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var chatBtn = document.querySelector('.btn');
            var body = document.querySelector('.chat-box');

            // 새로 고침 시 저장된 스크롤 위치를 복원
            window.addEventListener('beforeunload', function() {
                localStorage.setItem('chatScrollPosition', body.scrollHeight);
            });

            // 스크롤 위치를 로컬 스토리지에서 가져와 설정
            if (localStorage.getItem('chatScrollPosition')) {
                var savedScrollPosition = parseInt(localStorage.getItem('chatScrollPosition'));
                body.scrollTop = savedScrollPosition;
                body.scrollTop = body.scrollHeight; // 스크롤을 제일 하단으로 이동
            }

            chatBtn.addEventListener('click', function(event) {
                localStorage.setItem('chatScrollPosition', body.scrollHeight); // 스크롤 위치를 제일 하단으로 저장
                body.scrollTop = body.scrollHeight;
            });


            var chatForm = document.getElementById('chat-form');

            chatForm.addEventListener('submit', function(event) {
                var queryInput = document.getElementById('query');
                if (queryInput.value.trim() === "") {
                    event.preventDefault(); // 폼 전송을 중단
                    alert("채팅방을 먼저 만들어주세요");
                }
            });
            const delete_elements = document.getElementsByClassName("delete");
            Array.from(delete_elements).forEach(function(element) {
                element.addEventListener('click', function() {
                    if(confirm("정말로 삭제하시겠습니까?")) {
                        location.href = this.dataset.uri;
                    }
                });
            });

<!--           const buttonList = document.querySelectorAll(".chatroomList");-->
<!--           const roomLink = document.getElementById("roomLink");   // a태그-->
<!--           const roomInput = document.getElementById("roomInput"); // input-->

<!--            buttonList.forEach(function(chatroomBtn) {-->
<!--                const toggleBtn = chatroomBtn.children[2].children[0];-->
<!--                const roomLink = chatroomBtn.children[1].children[0];-->
<!--                const roomInput = chatroomBtn.children[1].children[1];-->

<!--                toggleBtn.addEventListener("click", function() {-->
<!--                   if (roomLink.style.display === "none") {-->
<!--                       roomLink.style.display = "block";-->
<!--                       roomInput.setAttribute("class", "d-none");-->
<!--                   } else {-->
<!--                       roomLink.style.display = "none";-->
<!--                        roomInput.setAttribute("class", "");-->
<!--                   }-->
<!--               });-->
<!--           });-->
        });
    </script>
</div>
</body>
</html>