<!doctype html>
<html lang="ko" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- kakao Map API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7ee6f5a5f71e859c2649a378e7750b51&libraries=services"></script>
    <!-- kakao Map Address API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>All events nationwide</title>
</head>
<body>
<div class="h-100 container my-3" style="padding: 0;">
    <header class="lh-1 py-3" style="border-bottom: 2px solid;">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <div class="container-fluid" style="padding:0; display:flex;">
                    <input class="form-control me-2" type="text" id="search_kw" th:value="${kw}" style="width:200px;" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" style="padding:0;" type="button" id="btn_search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                             viewBox="0 0 24 24"><title>Search</title>
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <path d="M21 21l-5.2-5.2"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis text-decoration-none" th:href="@{|/question/categorylist/0|}"
                   style="font-family: 'Cursive', cursive; font-size: 2rem; color: black;">All events nationwide</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <div>
                    <span style="margin: 0 10px 0 10px; font-size: 15px; font-weight: bold; color: black;"
                          th:if="${#authorization.expression('isAuthenticated()')}"
                          th:text="${#authentication.principal.nickname}"></span>
                </div>
                <a class="btn btn-sm btn-outline-secondary" sec:authorize="isAnonymous()" th:href="@{/user/login}" style="margin: 3px;">Sign in</a>
                <a class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:href="@{/user/logout}" style="margin: 3px;">Sign out</a>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{/user/signup}" style="margin: 3px;">Sign up</a>
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-3" style="border-bottom: 2px solid;">
        <nav class="nav nav-underline justify-content-around">
            <a class="nav-item nav-link link-body-emphasis active" th:href="@{|/question/categorylist/1|}" style="color: black;">자유게시판</a>
            <a class="nav-item nav-link link-body-emphasis" th:href="@{|/question/categorylist/2|}" style="color: black;">행사게시판</a>
            <a class="nav-item nav-link link-body-emphasis" th:href="@{|/question/categorylist/3|}" style="color: black;">문의사항</a>
            <a class="nav-item nav-link link-body-emphasis" th:href="@{|/question/categorylist/4|}" style="color: black;">Q&A</a>
        </nav>
    </div>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    <th:block layout:fragment="content"></th:block>
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>
    <!-- 자바스크립트 Start -->
    <th:block layout:fragment="script"></th:block>
    <!-- 자바스크립트 End -->
</div>
</body>
</html>