<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <div class="bg-body-tertiary rounded-3">
        <div class="container-fluid" style="padding:8px 0 8px 0">
            <h3 class="display-5 fw-bold" th:text="${question.subject}"></h3>
            <div class="p-2" style="background-color: gray; color: white; border-radius: 5px; font-size: 14px;" th:text="${question.category.category}"></div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(question.content)}"></div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <span th:if="${question.author != null}" th:text="${question.author.nickname}"></span>
                            </div>
                            <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                           th:data-uri="@{|/question/vote/${question.id}|}">
                            추천
                            <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                        </a>
                        <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.userid}"
                           th:text="수정"></a>
                        <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.userid}"
                           th:text="삭제"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="display:flex; padding:0;">
        <div class="container" style="padding:0; width:65%">
            <div class="map_wrap">
                <input class="address" type="hidden" th:value="${question.address}">
                <div id="map" style="width:100%;height:730px; border:1px solid gray; border-radius: 10px;"></div>
            </div>
        </div>
        <div class="container" style="width:35%;">
            <div style="display: flex; flex-direction: column;">
                <div style="height:10%;">
                    <h5 class="border-bottom"
                        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|">
                    </h5>
                </div>
                <div style="height:60%;">
                    <div class="h-100 rounded-3">
                        <!-- 답변 반복 시작 -->
                        <div class="card my-3" th:each="answer : ${paging}">
                            <div class="card-body">
                                <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(answer.content)}"></div>
                                <div class="d-flex justify-content-end">
                                    <div class="badge bg-light text-dark p-2 text-start">
                                        <div class="mb-2">
                                            <span th:if="${answer.author != null}" th:text="${answer.author.nickname}"></span>
                                        </div>
                                        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 답변 반복 끝  -->
                    </div>
                </div>
                <!-- 페이징처리 시작 -->
                <div th:if="${!paging.isEmpty()}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                            <a class="page-link" aria-label="Previous" th:href="@{|?page=${paging.number-1}|}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                            th:if="${page >= paging.number-5 and page <= paging.number+5}"
                            th:classappend="${page == paging.number} ? 'active'"
                            class="page-item">
                            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a class="page-link" aria-label="Next" th:href="@{|?page=${paging.number+1}|}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 페이징처리 끝 -->
                <div style="height:30%;">
                    <!-- 답변 작성 -->
                    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                        </div>
                        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
                        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
                        <input type="submit" value="답변등록" class="btn btn-primary my-2">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=7ee6f5a5f71e859c2649a378e7750b51&libraries=services"></script>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    var addressInput = document.querySelector(".address");
    console.log(addressInput);

    // 주소 데이터가 null 인 경우 배경색을 그레이로 변경
    if (addressInput.value === "null") { // 주소 데이터가 문자열 "null" 인 경우
        addressInput.style.backgroundColor = "gray";
    }

    var address = addressInput.value;
    console.log(address);
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.978656), // 서울 중심좌표
        level: 3 // 지도의 확대 레벨
    };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

   // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 키워드로 장소를 검색합니다
    ps.keywordSearch(address, placesSearchCB);

    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            // 첫 번째 장소만 표시하도록 설정
            var firstPlace = data[0];
            displayMarker(firstPlace);
            bounds.extend(new kakao.maps.LatLng(firstPlace.y, firstPlace.x));

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {

        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x)
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
</script>
</html>