<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div class="container" style="padding:150px; width:50%; height:50%;">
    <div style="text-align:center; margin-bottom:100px;">
        <a class="blog-header-logo text-body-emphasis text-decoration-none" th:href="@{|/question/categorylist/0|}"
           style="font-family: 'Cursive', cursive; font-size: 2rem; color: black;">All events nationwide</a>
    </div>

    <div>
        <h4>Sign_up</h4>
        <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </div>
            <div class="mb-3">
                <label for="userid" class="form-label">ID</label>
                <input type="text" th:field="*{userid}" class="form-control" placeholder="ID" required>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" th:field="*{password1}" class="form-control" placeholder="Password" required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Password check</label>
                <input type="password" th:field="*{password2}" class="form-control" placeholder="Password check" required>
            </div>
            <div class="mb-3">
                <label for="nickname" class="form-label">NickName</label>
                <input type="text" th:field="*{nickname}" class="form-control" placeholder="NickName" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">e-mail</label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="e-mail" required>
            </div>
            <button class="btn btn-dark w-100 py-2" style="margin-top: 20px;" type="submit">Sign in</button>
        </form>
    </div>
</div>
</body>
</html>